* {


    margin: 0;
    padding: 0;

}


.background-img {



    background-image: url("https://i.imgur.com/rpJGdix.jpg");
}


.my-hub {

    background-color: #e2e8f0;


}






@media screen and (max-width: 1023px) {

    body{background-color: black;}




  }

.section-contact {


    background-color: #1a202c;

}

.sectionx {


    margin-top: 261px;

}




footer
{

background-color: #e2e8f0;
padding-top: 20px;
}
